* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.bx-wrapper{
margin-top: 130px;
}


.navbar-brand img {
    display: block;
    width: 350px;
    float: left;
}


.large-screen-nav li {
    /*float: left;*/
    margin: 10px;
    color: #333;
    font-size: 16px;
    font-family: Lato;
    border-bottom: green solid 1px;

}
.large-screen-nav >li> a {
    text-decoration: none;
    color: #333 !important;
    text-align: center;

}

.social-icons {
    padding: 30px;

}

.social-icons a {
    text-decoration: none;
    color: #00B1AD;
    font-size: 1.5rem;
}



.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #09b474 !important;
    /*box-shadow: none !important;*/
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: darkgray !important;
}


aside:before {
    content: "";
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    width: 100%;
    height: 312px;
    z-index: 25;
    /*top: auto;*/

}

.cta-title_simple.main-title {
    color: #fff;
    font-size: 3vw;
    line-height: 1.2;
}

.cta2-title_simple.main-title h2 {
    font-size: 3vw;
    color: #fff;
    line-height: 1.2;
}

.cta2-title_simple.main-title h3 {
    font-size: 2vw;
    color: #fff;
    line-height: 1.2;
}


 #banner-text-2 {
     float: right;
     text-align: center;
     margin-right: 200px;
  }

.cta3-title_simple.main-title h2 {
    font-size: 3vw;
    color: #fff;
    line-height: 1.2;
}

.cta3-title_simple.main-title h3 {
    font-size: 2vw;
    color: #fff;
    line-height: 1.2;
}


#banner-text-3 {
    float: right;
    text-align: center;
    margin-right: 200px;
}

.cta-desc_simple p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #fff;
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0 0 10px;
}

.cta2-desc_simple p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #ffb900;
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0 0 10px;
}

.cta-bkg-image {
    position: relative;
    height: 292px;
    margin-bottom: 20px;
}
.banner-btn a {
    background: #fff;
    min-width: 66px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    position: relative;
    padding-left: 70px;
    padding-right: 20px;
    color: #1f1f1f;
    text-decoration: none;

}


.banner-btn a:before {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    left: 0;
    background: #f7c545;
    text-align: left;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    font-weight: 100;
    overflow: hidden;
    border-right: 1px solid #fff;
}



.store-wrapper {
    width: 1260px;
    margin: 0 auto;
    clear: both;
}


.store-wrapper-banner {
    position: absolute;
    z-index: 30;
    width: 1260px;
    margin: -350px 20px;
    clear: both;
}

.news-letter {
    width: 100%;
    height: 190px;
    background-color: #3cb1af;
    color: white;

}

#testimonals{
    margin: 0;
    padding: 0;

}
.news-letter h2 {
    margin-top: 20px;
    font-size: 4rem;
}

.news-letter-form input {
    width: 331px;
    height: 30px;
    margin: 10px;
    font-size: 1.5rem;
}

#edit-submit {
    margin-top: 7px;
    margin-left: 10px;
    width: 75px;
    height: 35px;
    color: white;
    font-size: medium;
    background-color: #e0a800;
    border: none;
}

#edit-submit:hover {
    background-color: #2e6da4;
}

.blog-title-comment {
    margin: 20px;
}

.blog-title-comment a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.read-me-button {
    margin-top: 7px;
    margin-left: 10px;
    width: 85px;
    height: 31px;
    color: white;
    font-size: 1.4rem;
    background-color: #3cb1af;
    border: none;
}

.read-me-button:hover {
    background-color: #3cb1af;
}

.bx-wrapper .bx-caption {
    position: relative;
    bottom: 350px;
    left: 80px;
    text-align: center;

}

#slide-title {
    background-color: RGBA(255, 255, 255, 0.8);
    width: 700px;
    height: 100px;
    left: 320px;
    padding: 35px;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;

}

#slide-text {
    background-color: RGBA(5, 5, 5, 0.8);
    color: white;
    text-decoration: none;
    width: 300px;
    height: 70px;
    left: 500px;
    padding: 20px;
    margin: 30px;
    text-transform: uppercase;
    font-size: 25px;
}

#slide-button  {
    width: 200px;
    height: 45px;
    left: 580px;
    background: #0bb1af;
    font-size: large;
    padding: 10px 30px 10px 30px;
    box-shadow: none;
    text-decoration: none;
    color: white;
}


#slide-title2 {
    background-color: RGBA(255, 255, 255, 0.8);
    width: 400px;
    height: 100px;
    left: 430px;
    padding: 35px;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;

}

#slide-text2 {
    background-color: RGBA(5, 5, 5, 0.8);
    color: white;
    text-decoration: none;
    width: 400px;
    height: 70px;
    left: 390px;
    padding: 20px;
    margin: 30px;
    text-transform: uppercase;
    font-size: 30px;
}

#slide-button2  {
    width: 200px;
    height: 45px;
    left: 520px;
    background: #0bb1af;
    font-size: large;
    padding: 10px 30px 10px 30px;
    box-shadow: none;

}

#slide-title3 {
    background-color: RGBA(255, 255, 255, 0.8);
    width: 270px;
    height: 100px;
    left: 500px;
    padding: 35px;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;

}

#slide-text3 {
    background-color: RGBA(5, 5, 5, 0.8);
    color: white;
    text-decoration: none;
    width: 200px;
    height: 70px;
    left: 505px;
    padding: 20px;
    margin: 30px;
    text-transform: uppercase;
    font-size: 27px;
}

#slide-button3  {
    width: 200px;
    height: 45px;
    left: 535px;
    background: #0bb1af;
    font-size: large;
    padding: 10px 30px 10px 30px;
    box-shadow: none;
    text-decoration: none;
    color: white;
}

#slide-button a {
    text-decoration: none;
    color: white;
}

#slide-button2 a{
    text-decoration: none;
    color: white;
}

#slide-button3 a {
    text-decoration: none;
    color: white;
}

.item {
    padding: 1px 5px;
}

.item:nth-child(2) {
    border-left: #363636 solid 1px;
    border-right: #363636 solid 1px;
}

.bx-wrapper {
    max-width: 100% !important;
}


.image-block {
    overflow: hidden;
    margin: 10px;
}

.slide  {
    border: #eee solid 1px;
    padding: 10px;
    margin: 10px;

}

.slide-two {
    border: #eee solid 1px;
    padding: 10px;
    margin: 2px;

}

.slide img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.slide img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.our-blog {
    font-size: 38px;
    font-weight: bold;
    border-bottom: 1px solid #BBB;
    color: #1f1f1f;
    padding-bottom: 1%;
    margin: 1%;
}

#return-to-top{
    z-index: 9999;
    width:50px;
    height:50px;
    padding:10px;
    text-align:center;
    background: #6b6b6b;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    position:fixed;
    top:80%;
    right:40px;
   /* display:none;*/
}
#return-to-top:hover{
    background: #f2af00;
    transition: all ease 0.4s;
    /*-webkit-transition: all ease 0.4s;*/
    /*transform: skew(-45deg) scale(2.2);*/

}

.image-testimonals img {
    padding: 3px;
    margin: 10px 10px 10px 1px;
    border: 1px solid #eee;
    width: 70px;
}

.testimonal-content {
    border: #ececec solid 3px;
    margin-bottom: 10px;

}

.testimonial-single-title {
    font-size: 17px;
    line-height: 30px;
    padding-left: 20px;
    vertical-align: middle;
    float: left;
    margin-top: 10px;
}

.testimonial-single-title a {
    text-decoration: none;
    color: #333;
}

.image-testimonals{
    display: block;
    float: left;
}

.testimonal-content:after {
    background: #fff url(../img/testimonial-arrow.png) no-repeat scroll 0 0;
    content: "";
    height: 13px;
    left: 90px;
    position: absolute;
    width: 54px;
}

footer {
    clear: both;
    font-weight: 400;
}

.site-footer #section-footer2 {
    height: 445px;
    background: #333232 none repeat scroll 0 0;
    color: #fff;
}

.store-footer {
    font-weight: 400;
}


.field-item {
margin-left: 50px;
    margin-top: 100px;
    display: block;
    width: 390px ;
    height: 210px;
    float: left;
}

.field-item p {
    font-size: 1.4rem;
    padding-top: 10px;

}
.overlay {
    float: left;
    margin-top: 50px;
}


.location h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.store-footer {
    background: #2a2a2a none repeat scroll 0 0;
    border-top: 1px solid #9b9b9b;
}

.site-info {
    margin-top: 20px;
    color: #999;
    font-size: 13px;
    margin-bottom: 10px;
}

.bx-wrapper .bx-controls-direction a {
    margin-top: -100px;
    z-index: 50;
}